@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter";
    background-color: hsl(0, 0%, 8%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    border: 1px solid black;
    width: 490px;
    height: 680px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 125px;
}

.image {
    border-radius: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.attributes a {
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    display: block;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 12px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 12px;
    padding: 15px;
}

.attributes a:hover {
    background-color: seagreen;
}

p.job {
    margin: 20px;
}

h1,
h3,
p {
    text-align: center;
    margin-top: 10px;
}

h3 {
    color: hsl(75, 94%, 57%);
}

.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}